<footer class="footer bg-black relative pt-1">
    <div class="container mx-auto px-12">
        <div class="sm:flex sm:mt-8">
            <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-between">
                <div class="flex flex-col w-3/12">
                    <div class="mb-2">
                        <img
                            src="https://firebasestorage.googleapis.com/v0/b/shop-ea818.appspot.com/o/document%2Flogo.png?alt=media&token=2249a482-9d4c-44a3-8728-8636f766371e" />
                    </div>
                    <span class="my-2 text-gray-400 leading-loose">
                        Claritas processus Lorem ipsum dynamicus recmicus sequit qituconsut.
                    </span>
                </div>
                <div class="flex flex-col">
                    <span class="text-gray-100 font-semibold uppercase mb-4">MY ACCOUNT</span>
                    <span class="my-2">
                        <a routerLink="" class="text-gray-400 hover:text-yellow-500">
                            <span class="material-icons">chevron_right</span>
                            My Account
                        </a>
                    </span>
                    <span class="my-2">
                        <a routerLink="" class="text-gray-400 hover:text-yellow-500">
                            <span class="material-icons">chevron_right</span>
                            Wish List
                        </a>
                    </span>
                    <span class="my-2">
                        <a routerLink="" class="text-gray-400 hover:text-yellow-500">
                            <span class="material-icons">chevron_right</span>
                            Gift
                        </a>
                    </span>
                    <span class="my-2">
                        <a routerLink="" class="text-gray-400 hover:text-yellow-500">
                            <span class="material-icons">chevron_right</span>
                            Certificates
                        </a>
                    </span>
                    <span class="my-2">
                        <a routerLink="" class="text-gray-400 hover:text-yellow-500">
                            <span class="material-icons">chevron_right</span>
                            ReturnsSpecials
                        </a>
                    </span>
                </div>
                <div class="flex flex-col">
                    <span class=" text-gray-100 font-semibold uppercase mb-4"> EXTRAS</span>
                    <span class="my-2">
                        <a routerLink="" class="text-gray-400 hover:text-yellow-500">
                            <span class="material-icons">chevron_right</span>
                            About Us
                        </a>
                    </span>
                    <span class="my-2">
                        <a routerLink="" class="text-gray-400 hover:text-yellow-500">
                            <span class="material-icons">chevron_right</span>
                            Delivery Information
                        </a>
                    </span>
                    <span class="my-2">
                        <a routerLink="" class="text-gray-400 hover:text-yellow-500">
                            <span class="material-icons">chevron_right</span>
                            Privacy Policy
                        </a>
                    </span>
                    <span class="my-2">
                        <a routerLink="" class="text-gray-400 hover:text-yellow-500">
                            <span class="material-icons">chevron_right</span>
                            Terms & Conditions
                        </a>
                    </span>
                    <span class="my-2">
                        <a routerLink="" class="text-gray-400 hover:text-yellow-500">
                            <span class="material-icons">chevron_right</span>
                            Contact Us
                        </a>
                    </span>
                </div>

                <div class="flex flex-col">
                    <span class=" text-gray-100 font-semibold uppercase mb-4">STORE INFORMATION</span>
                    <span class="my-2 text-gray-400 hover:text-yellow-500">
                        
                            <span class="material-icons">location_on</span>
                            Store United States
                      
                    </span>
                    <span class="my-2">
                        <a routerLink="" class="text-gray-400 hover:text-yellow-500">
                            <span class="material-icons">call</span>
                            0123456789
                        </a>
                    </span>
                    <span class="my-2">
                        <a routerLink="" class="text-gray-400 hover:text-yellow-500">
                            <span class="material-icons">unarchive</span>
                            0123-456-7890
                        </a>
                    </span>
                    <span class="my-2">
                        <a routerLink="" class="text-gray-400 hover:text-yellow-500">
                            <span class="material-icons">email</span>
                            demo@gmail.com</a>
                    </span>
                </div>

            </div>
        </div>
    </div>
    <div class="container mx-auto px-6">
        <div class="mt-16 border-t border-gray-300 flex flex-col items-center">
            <div class="sm:w-2/3 text-center py-6">
                <p class="text-sm text-gray-100 font-normal tracking-widest mb-2">
                    Powered By OpenCart Your Store © 2021
                </p>

            </div>
        </div>
    </div>
</footer>