<header class="flex justify-between w-full items-center py-4 bg-black px-4">
    <div>
        <button routerLink="">
            <img src="https://firebasestorage.googleapis.com/v0/b/shop-ea818.appspot.com/o/document%2Flogo.png?alt=media&token=2249a482-9d4c-44a3-8728-8636f766371e" />
        </button>
    </div>


    <ul class="flex uppercase text-sm font-semibold ">
        <li class="p-3">
            <a routerLink="/shop" class="text-white tracking-widest">
                Shop
            </a>
        </li>
        <li class="p-3">
            <a routerLink="/pottery_page" class="text-white tracking-widest">
                Pottery
            </a>
        </li>
        <li class="p-3">
            <a routerLink="/blog_page" class="text-white tracking-widest">
                Blog
            </a>
        </li>

        <li class="p-3 ">
            <a routerLink="/aboutus_page" class="text-white tracking-widest">
                About Us
            </a>
        </li>
        <li class="p-3 ">
            <a routerLink="/contacts_page" class="text-white tracking-widest">
                Contacts
            </a>
        </li>

    </ul>
    
</header>